main {
  padding: 200px;
  background-color: #f0f0f0;
}

h1 {
  color: #5f2306;
  font-size: 24px;
  margin-bottom: 25px;
}

button {
  background-color: #fffff2;
  color: #602104;
  padding: 20px 20px;
  border: outset;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
} 

button:hover {
  background-color: #efeee0; 
  border: inset;
}

